h2,h3{
    color: #14235A;
    margin: 10px;
    font-size: 1.5em;
}
#servicos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
}
#sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
}
#sobre i{
    display: none;
}

hr{
    border-left-width: 100vw;
    margin: 20px;
}

.conteudo{
    font-size: 1.2em;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60vh;
}
.azul{
    background-color: #14235A;
    color: white;
}
.azul h2{
    color: #ffffff;
}

.container{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 60%;
    margin-bottom: 70px;
}

.cont, .information{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}
.cont{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.cont img{
    width: 50%;
    height: 100%;
    margin-right: 15px;
    display: inline;
    border-radius: 100%;
}

.texto_sobre{
    display: inline;
}
.texto{
    display: flex;
    flex-direction: column;
}