@font-face {
    font-family: 'Lemon Milk Bold';
    src: url('fonts/LEMONMILK-Bold.otf');
  }
  @font-face {
    font-family: 'Lemon Milk Regular';
    src: url('fonts/LEMONMILK-Regular.otf');
  }
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    background-color: white;
}
h2{
    font-family: 'Lemon Milk Bold';
}
a{
    text-indent: 0;
    text-align: center;
}
p, h3{
    text-indent: 20px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 1em;
    font-family: 'Ubuntu;
    
}
main{
    font-size: 1.2em;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:0 100px;
    top: 120px;
    background-color: white;
}
.images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    text-align: center;
}

.imgCima{
    width: 40vw;
    height: 60vh;
    margin: 0 20px 10px;
    border-radius: 10px;
}
.titleImg{
    color: #14235A;
    font-size: 50px;
    margin-bottom: 20px;
}

.pontos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.principal{
    font-size: 2em;
    color: black;
}

#sobreNos{
    margin-top: 70px;
    text-align: center;
    font-size: 25px;
}

@media (max-width:800px){
    .images{
        flex-direction: column;
        font-size: 1em;
    }
    .images img{
        height: 25vh;
    }
    main{
        font-size: .9em;
        top: 120px;
    }
}