*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
html{
    overflow-x: hidden;
}
main{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:0 200px;
}
.images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 50px;
}

.imgCima{
    width: 40vw;
    height: 60vh;
    margin: 0 20px;
    border-radius: 10px;
}
.titleImg{
    color: #14235A;
    font-size: 50px;
    margin-bottom: 20px;
}

.pontos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 100px;
}

.principal{
    font-size: 80px;
    color: black;
    text-decoration: solid underline black;
}

#sobreNos{
    margin-top: 70px;
    text-align: center;
    font-size: 25px;
}