body{
    background-color: white;
}
main{
    font-size: 1.2em;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:0 100px;
    top: 150px;
    background-color: white;
}
.images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 50px;
}

.imgCima{
    width: 40vw;
    height: 60vh;
    margin: 0 20px 40px;
    border-radius: 10px;
}
.titleImg{
    color: #14235A;
    font-size: 50px;
    margin-bottom: 20px;
}

.pontos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.principal{
    font-size: 2em;
    color: black;
}

#sobreNos{
    margin-top: 70px;
    text-align: center;
    font-size: 25px;
}

@media (max-width:800px){
    .images{
        flex-direction: column;
        font-size: 1em;
    }
    .images img{
        height: 30vh;
    }
    main{
        font-size: .9em;
    }
}