*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{overflow-x: hidden;}
html{
    overflow-x: hidden;
}
.top{
    display: flex;
    justify-content: space-between;
}
#top, #logo, header address{
    position: relative;
    z-index: 2;
}

#top{
    overflow: hidden;
    position: fixed;
    background-color: #14235A;
    border-bottom: 10px solid #1F5A2D;
    margin-bottom: 40px;
    width: 100vw;
    height: 15%;
    top: 0;
    justify-content: space-between;
    min-height: 60px;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#logo{
    width: 35vh;
    margin-left: 10px;
}
.logo{
    height: 190px;
}

nav{
    position: relative;
    margin-right: 30px;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: flex-end;
}
nav li{
    display: block;
    margin: 0 5px 0 5px;
}
nav .nav_button{
    top: 1.5em;

    background-color: #14235A;
    border: none;
    
    text-align: center; 
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    
    overflow: hidden;
    position: relative;
}
nav .nav_button:hover{
    background: white;
    border-radius: 10px;
}
nav .nav_button span a:hover{
    color: #14235A;
}
nav .nav_button span a{
    color: white;
    display: inline-block;
    position: relative;
    padding: 10px 24px; 
}
i{
    visibility: hidden;
  }

@media (max-width: 600px) {
    i{
        display: inline;
        font-size: 2.5rem;
        cursor: pointer;
        margin: 30px 30px 0 0 ;
        position: relative;
        color: white;
        visibility: visible;
        margin-top: 40px;
    }
    nav{
        position: fixed;
        top: 0%;
        margin: 0;
        left: -100%;
        background-color: rgb(225, 226, 226);
        width: 60%;
        height: 100vh;
        padding: 2rem 0;
        z-index: 999999;
        transition: .5s;
        overflow: auto;
        display: flex;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: flex-start;
        margin-left: 15%;
    }
    nav li{
        display: block;
        margin: 30px 0px 10px 0px;
    }
    .show{
        left: 0;
    }
    #top{
        align-items: center;
        height: 20%;
    }
    #logo{
        width: 172px;
        margin-left: 10px;
        margin-top: 25px;
    }
}